.build/
.xmake/
build/
artifacts/
compile_commands.json
coverage/
*.tbc
*.tlb
*.profraw
*.profdata
*.gcda
*.gcno
*.obj
*.o
*.exe
*.pdb
*.ilk
*.idb
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
.DS_Store
.trae/
*.7z